

.cardImg {
  position: absolute;
  border-radius: 5px;
  background-repeat: no-repeat;
  will-change: transform;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card1 {
  left: 50%;
  top: 60%;
  background-image: url('/node-icon.png');
}

.card2 {
  left: 76%;
  top: 60%;
  background-image: url('/npm-icon.png');
}

.card3 {
  left: 30%;
  top: 40%;
  background-image: url('/github-icon.png');
}

.card4 {
  left: 25%;
  top: 52%;
  background-image: url('/python-icon.png');
}

.card5 {
  left: 45%;
  top: 10%;
  background-image: url('/react-icon.png');
}

.cardContainer {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  background-color: red;
  width: 100vw;
  height: 100vh;
  background-image: url('/code.png');
}

@media only screen and (max-width: 600px) {
  .cardImg {
    background-size: 100px 100px;
  }
}
