

.projectImg {
  position: absolute;
  border-radius: 10px;
  background-repeat: no-repeat;
  will-change: transform;
  position: absolute;
  object-fit: scale-down;
  width: 250px;
  height: 300px;
  padding: 20px;
  background-color: white;
  text-align: center;
}

a {
  text-decoration: none !important;
}

.project1 {
  left: 13%;
  top: 45%;
}

.project2 {
  left: 33%;
  top: 15%;
}

.project3 {
  left: 74%;
  top: 10%;
}

.project4 {
  left: 60%;
  top: 40%;
}

.project5 {
  left: 5%;
  top: 5%;
}


.projectContainer {
  position: absolute;
  z-index: 10;
  margin: 0;
  margin-left: -15px;
  padding: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
}

.projectCard {
  color: black;
  text-decoration: none;
}

.projectCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.projectCard h1 {
  font-weight: bold;
  font-size: 20px;
}

.projectCard p {
  font-size: 15px;
}

.projectImg:hover {
  padding: 10px;
  width: 250px;
  height: 300px;
  border: 5px solid black;
}

@media only screen and (max-width: 1200px) {
  .projectImg {
    width: 200px;
    height: 270px;
    padding: 20px;
  }

  .projectImg:hover {
    padding: 10px;
    width: 200px;
    height: 270px;
    border: 5px solid black;
  }

  .projectCard img {
    width: 120px;
    height: 120px;
    margin-left: 20px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .projectCard h1 {
    font-weight: bold;
    font-size: 15px;
  }
  
  .projectCard p {
    font-size: 12px;
  } 
}



@media only screen and (max-width: 600px) {
  .projectImg {
    width: 150px;
    height: 220px;
    padding: 20px;
  }

  .projectImg:hover {
    padding: 10px;
    width: 150px;
    height: 220px;
    border: 5px solid black;
  }

  .projectCard img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .projectCard h1 {
    font-weight: bold;
    font-size: 15px;
  }
  
  .projectCard p {
    font-size: 11px;
  }

  .project1 {
    transform: translate3d(0px, 0px, 0px) !important;
    left: 0%;
    top: 0%;
  }
  
  .project2 {
    transform: translate3d(0px, 0px, 0px) !important;
    left: 60%;
    top: 0%;
  }
  
  .project3 {
    transform: translate3d(0px, 0px, 0px) !important;
    left: 0%;
    top: 60%;
  }
  
  .project4 {
    transform: translate3d(0px, 0px, 0px) !important;
    left: 60%;
    top: 60%;
  }

  .project5 {
    transform: translate3d(0px, 0px, 0px) !important;
    left: 30%;
    top: 30%;
  }
  
}
