

#projectPage {
  position: absolute;
  padding: 50px;
  width: 70vw;
  margin-left: 15vw;
  height: 70vh;
  margin-top: 5vh;
  background-color: white;
  opacity: 0.9;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#projectImage {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  border-radius: 15px;
  object-fit: cover;
}

#projectContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-left: 20px;
  text-align: center;
}

#links {
  position: relative;
  top: 40px;
}

.link {
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
  margin-top: 15px;
}

.link h3 {
  color: black;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 10px;
}

.link img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#technologiesList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#technologies h3 {
  font-size: 22px;
}

.technologyUsed {
  width: 150px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.technologyUsed img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 8px;
}



@media only screen and (max-width: 1200px) {
  #projectImage {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  #technologies {
    display: none;
  }

  .link h3 {
    font-size: 15px;
    margin-left: 10px;
  }
  
  .link img {
    width: 30px;
    height: 30px;
  }

}