

#projectPage {
  position: absolute;
  padding: 50px;
  width: 70vw;
  margin-left: 15vw;
  height: 70vh;
  margin-top: 5vh;
  background-color: white;
  opacity: 0.9;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#projectImage {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  border-radius: 15px;
  object-fit: cover;
}

#projectContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-left: 20px;
  text-align: center;
}


.link {
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
}

.link h3 {
  color: black;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 10px;
}

.link img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.inactive {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.inactive h3:hover {
  cursor: default;
}

#technologiesList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#technologies h3 {
  font-size: 22px;
}

.technologyUsed {
  width: 215px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.technologyUsed img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-right: 8px;
}

.technologyUsed p {
  font-size: 25px;
}

#projectInfo h2 {
  font-size: 35px;
}

#description {
  font-size: 18px;
}


@media only screen and (max-width: 1300px) {
  #projectImage {
    display: none;
  }
}

/* @media only screen and (max-width: 820px) {
  #description {
    font-size: 10px;
  }
} */


@media only screen and (max-width: 820px) {

  #projectPage {
    width: 90vw;
    margin-left: 1vw;
    height: 80vh;
    margin-top: 5vh;
  }

  #projectContent {
    margin-top: -50px;
    width: 340px;
  }

  #projectInfo h2 {
    font-size: 22px;
  }

  #description {
    font-size: 14px;
  }

  #technologies h3 {
    font-size: 18px;
  }

  #technologiesList {
    width: 300px;
  }

  .technologyUsed {
    width: 150px;
  }

  .technologyUsed img {
    width: 30px;
    height: 30px;
  }

  .technologyUsed p {
    font-size: 15px;
  }
}
